@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "layouts" as *;
@use "pages" as *;
@use "utilities" as *;

.hero-container {
  position: relative;
  margin-bottom: 4em;

  .hero-text {
    position: absolute;
    bottom: -2em;

    h1 {
      padding-left: 0.1em;
    }

    h2 {
      @include headerHighlight();
    }

    span {
      font-size: 0.9em;
    }
  }
}

.jump-to-links {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  color: $white;

  li:nth-child(1) {
    font-weight: 500;
  }
}

.human6 {
  display: flex;
  // width: 50%;
}

.image {
  width: 100%;
  fill: #000000;
}

.intro-text {
  font-size: 1.5em;
  padding-inline: $inline-padding;
  margin-bottom: 1em;

  p {
    margin-block: 1em;
  }
}

@media (min-width: 1000px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .cards-teaser {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    img {
      max-height: 280px;
      width: 100%;
    }

    .card-teaser-image {
      width: 100%;
    }
  }

  .card-teaser {
    flex-direction: column;
    height: 400px;
  }

  .footer-wrapper {
    max-width: 1200px;
  }

  #login-header {
    font-size: 5em;
  }
}

.tickets {
  max-width: 650px;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
  }
}

.faq-section {
  padding: 0.5em;
}
