@use "../abstracts" as *;

.button {
  display: table;
  padding: 1em 1em;
  background-color: $primary;
  border: 0.1em solid $white;
  box-shadow: $shadow-main;
  border-radius: 2em;
  color: $white;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  margin: 1em auto;
  transition: scale 250ms $bezier;

  &:hover {
    scale: 1.02;
  }

  @media (prefers-reduced-motion) {
    &:hover {
      scale: unset;
    }
  }
}

.contact {
  padding: 1em 2em;
}
