@use "../abstracts" as *;

.button {
  @include flexCenter();
  padding: 1em 1em;
  background-color: $primary;
  border: 0.1em solid $white;
  box-shadow: $shadow-main;
  border-radius: 2em;
  color: $white;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  margin: 1em auto;
}
