@use "../abstracts" as *;

.card {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-inline: auto;

  background-color: $black;
  @include glassMorphism();
  border-radius: 2em;

  box-shadow: $shadow-main;

  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 2em 2em 0 0;
    background-color: $black;

    img {
      width: 100%;
      height: 100%;
    }

    .card-foreground {
      position: absolute;
      z-index: 3;
      top: 0;
      transform-origin: center center;
    }
    .card-midground {
      position: absolute;
      z-index: 2;
      top: 0;
      transform-origin: center left;
    }

    .card-background {
      position: relative;
    }
  }

  .card-text {
    position: relative;
    z-index: 3;
  }

  .card-title {
    @include highlighter();
    font-weight: 400;
    top: -0.8em;
    display: inline-block;
    position: relative;
  }

  .card-info {
    font-size: 1.2em;
    color: $black;
    padding: 0 1em 1em 1em;
    line-height: 120%;
    text-align: justify;
  }
}

.cards-teaser {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-inline: $inline-padding;
}

.card-teaser {
  @include glassMorphism();
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-block: 1em;
  height: 130px;
  border-radius: 1.5em;
  overflow: hidden;
  opacity: 0;
  outline: solid #00a66900 2px;
  color: $black;
  transition: outline 350ms;

  .card-teaser-image img {
    width: 100%;
  }

  img {
    min-height: 100%;
  }

  .card-teaser-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 0.5em;
    margin-inline: 0.5em;
    opacity: 0;
    position: relative;

    div {
      margin-bottom: 1.5em;
    }
  }

  p {
    font-size: 1em;
    font-weight: 300;
  }

  a {
    color: $black;
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration-thickness: 0.04em;
  }

  a h5 {
    font-size: 1em;
  }

  .see-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;

    img {
      right: 1em;
      top: 50%;
      width: 10px;
      object-fit: contain;
    }
  }

  &:hover {
    outline: solid $primary 2px;
  }
}

@include mq-large {
  .cards-teaser {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    img {
      max-height: 280px;
      width: 100%;
    }

    .card-teaser-image {
      width: 100%;
    }
  }

  .card-teaser {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    flex-direction: column;
    height: 400px;
  }

  .card {
    grid-template-columns: 1fr 1fr;

    .card-title {
      position: absolute;
      top: 0;
      font-size: 2.5em;
    }

    .card-info:nth-of-type(1) {
      margin-top: 3.5em;
    }

    .image-container {
      border-radius: 2em 0 0 2em;
    }

    &:nth-of-type(even) {
      .card-title {
        right: 0;
      }
      .image-container {
        order: 1;
        border-radius: 0 2em 2em 0;
      }
      .card-date {
        text-align: end;
      }
    }
  }
}

@media (prefers-reduced-motion) {
  .card-teaser {
    opacity: 1;

    .card-teaser-text {
      opacity: 1;
    }
  }
}
