@use "../abstracts" as *;

@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK.otf);
  font-display: swap;
}
@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK-Bold.otf);
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

$font-main: Roboto, sans-serif;
$font-spot: Spotnik, sans-serif;

html {
  font-family: $font-main;
}

h1 {
  font-size: 5em;
  color: $white;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.5em;
  line-height: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
}

h3 {
  font-size: 3em;
  color: $white;
  padding-inline: $inline-padding;
}

h4 {
  font-size: 2em;
  color: $white;
  font-weight: 200;
  @include highlighter();
  display: inline-block;
  padding-inline: $inline-padding;
}

h5 {
  font-size: 1.5em;
}

span {
  font-family: $font-spot;
  font-weight: bold;
}

@media (max-width: map-get($breakpoints, "small")) {
  h3 {
    font-size: 2em;
  }
}
