@use "../abstracts" as *;

#login-page,
#tickets-page,
#checkout-page,
#success-page,
#account-page {
  background: $gradient-seconday;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
