@use "../abstracts" as *;
@use "../base" as *;

footer {
  @include flexCenter();
  background-color: $dark;
  color: $white;

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  @media (max-width: 1080px) {
    #footer-grid {
      display: grid;
      grid-template-rows: 1fr 2fr 2fr;
      align-items: flex-start;
      gap: 5%;
    }
  }

  #newsletter {
    display: flex;
    flex-direction: column;

    #newsletter-heading {
      font-size: 1.3em;
      font-weight: 400;
      margin-block-end: 0.5em;
      font-family: $font-main;
      text-decoration: none;
      text-transform: none;
      backdrop-filter: none;
      box-shadow: none;
      padding-inline: 0;
      letter-spacing: normal;
      line-height: normal;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      outline: none;
      padding: 1.62em;
      margin-bottom: 0;
      border-radius: 1em 0 0 1em;
      flex: 3;

      &:focus,
      &:active {
        outline: none;
      }
    }

    button {
      border: solid white 3px;
      font-weight: bold;
      font-size: 1.2em;
      background-color: $primary;
      padding: 0.8em;
      margin-right: 0.22em;
      color: $white;
      flex: 1;
      border-radius: 0 1em 1em 0;
    }
  }

  #opening-hours {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    text-align: justify;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@include mq-large {
  #footer-grid {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 5%;
  }

  #opening-hours {
    order: 1;
  }

  #newsletter {
    order: 2;
  }

  .contact-info {
    order: 3;
  }
}
