@use "../abstracts" as *;
@use "../base/" as *;

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 5em;

  img {
    display: inline-block;
    width: 100%;
    max-height: 500px;
    animation: rotate 1s alternate infinite;
  }

  .hero-title {
    @include highlighter();
    padding: 1em 1em 1.5em 1em;
    transform: translateY(-60%);
    position: absolute;

    #landing-title {
      letter-spacing: 0.2em;
      font-size: 4em;
      color: $white;
    }
  }
}
