@use "../abstracts" as *;
@use "../base" as *;

#sidebar {
  position: fixed;
  height: 100%;
  @include glassMorphism();
  background-color: #000000;
  right: 0;
  z-index: 10;
  translate: 100%;
  transition: translate 500ms;

  ul {
    direction: rtl;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: right;
    margin: 1em 1.5em;
  }

  li {
    position: relative;

    a {
      transition: all 500ms;
      background: $gradient-text;
      background-size: 250% 200%;
      background-clip: text;
      background-position: left;
      color: transparent;
    }

    &::after {
      content: "⬤";
      position: absolute;
      right: -2em;
      color: $primary;
      font-size: 0.5em;
      opacity: 0;
      translate: 3em;
      transition: opacity 0ms 1s, scale 800ms $bezier, translate 600ms $bezier;
    }

    &:hover::after {
      opacity: 1;
      scale: 1.2;
      translate: 0em;
      transition: opacity 0ms 0ms, scale 800ms $bezier, translate 600ms $bezier;
    }

    &:hover {
      // list-style: disc;
      color: $primary;

      a {
        background-position: right;
      }
    }
  }
}
