@use "variables" as *;
@use "colors";
@use "fonts" as *;
@use "mixins" as *;

.calendar-headings {
  font-size: 1.5em;
  font-family: $font-main;
  letter-spacing: 0;
  margin: 1em 0;
}

.cal-container {
  @include flexCenter();
  flex-direction: column;
  margin: 0 auto;
  max-width: $cal-max-width;
}

.calendar {
  @include glassMorphism();
  margin-inline: 1em;
  width: 100%;
  max-width: $cal-max-width;
  box-shadow: $shadow-main;
  border-radius: 2em;
}

.month {
  @include flexCenter();
  justify-content: space-between;
  width: 100%;
  background-color: colors.$primary;
  border-radius: 2em 2em 0 0;
  padding: 0 1em;
  text-align: center;

  .date {
    padding: 1em;
  }

  h2 {
    color: colors.$black;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.6em;
  }
}

.weekdays,
.days-of-month {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    padding: 1em 0;
  }
}

.day:nth-child(7n-6),
.prev-month-date,
.next-month-date {
  opacity: 0.2;

  &:hover {
    pointer-events: none;
    background-color: unset;
    transition: unset;
    border-radius: 0.5em;
    outline: none;
  }
}

.today {
  background-color: rgba(211, 211, 211, 0.526);
  border: solid grey 1px;
  border-radius: 0.5em;
}

.timeslots-container {
  max-width: $cal-max-width;
  margin: 0 auto;
}

.timeslots {
  @include glassMorphism();
  border-radius: $border-radius;
  font-size: 1.2em;

  li {
    display: inline-block;
    padding: 0.5em;
    width: 100%;
    cursor: pointer;
  }

  li:nth-child(even) {
    background-color: #00000017;
  }
}

.days-of-month div:hover,
.active-date,
.timeslots li:hover,
.active-time {
  background-color: colors.$primary !important;
  transition: all 350ms;
  border-radius: 0.5em;
  outline: solid grey 1px;
  cursor: pointer;
}
