@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK.otf);
  font-display: swap;
}
@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK-Bold.otf);
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

$color-primary: #00a66a;
$color-primary-semiTrans: #00a66978;
$color-secondary: #0056a6;
$color-dark: #1e474b;
$color-dark-semiTrans: #1e474bb2;
$color-black: #000000;
$color-white: #ffffff;
$color-white-semiTrans: #ffffff84;
$inline-padding: 10px;

$hr: 3px solid rgba(255, 255, 255, 0.5);

$gradient-primary: linear-gradient(
  180deg,
  $color-primary 0%,
  $color-secondary 100%
);

$gradinet-secondary: linear-gradient(191.54deg, #00a69c 5.32%, #00a66a 92.1%);

$font-main: Roboto, sans-serif;
$font-spot: Spotnik, sans-serif;

$shadow-main: -4px 4px 6px rgba(0, 0, 0, 0.15);

$tablet-breakpoint: 800px;

@mixin highlighter {
  background: $color-dark-semiTrans;
  backdrop-filter: blur(5px);
  box-shadow: $shadow-main;
}

@mixin headerHighlight() {
  background: $color-dark;
  display: inline;
  box-shadow: $shadow-main;
  padding-inline: 10px;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin glassMorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  box-shadow: $shadow-main;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

body {
  position: relative;
  background: $gradient-primary;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  width: 100%;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark;

    border-radius: 1em;
  }
}

body a {
  color: $color-white;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 5em;
  color: $color-white;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.5em;
  line-height: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-white;
}

h3 {
  font-size: 3em;
  color: $color-white;
  padding-inline: $inline-padding;
}

h4 {
  font-size: 2em;
  color: $color-white;
  font-weight: 200;
  @include highlighter();
  display: inline-block;
  padding-inline: $inline-padding;
}

h5 {
  font-size: 1.5em;
}

span {
  font-family: $font-spot;
  font-weight: bold;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

main {
  max-width: $tablet-breakpoint;
  margin: 0 auto;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
}

header {
  @include flexCenter();
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  box-shadow: $shadow-main;
  background-color: $color-black;

  .header-logo {
    display: flex;
    height: 100%;
    padding: 0.25em;
  }

  #navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hamburger-menu img {
    @include flexCenter();
    padding: 0 1em;
    height: 2em;
  }

  li {
    font-family: $font-spot;
    display: none;
    padding-inline: 1em;
  }

  @media (min-width: $tablet-breakpoint) {
    li {
      display: inline-block;
    }
  }
}

.button {
  @include flexCenter();
  padding: 1em 2em;
  background-color: $color-primary;
  border: 0.1em solid $color-white;
  box-shadow: $shadow-main;
  border-radius: 2em;
  color: $color-white;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 1em auto;
}

.hero-container {
  position: relative;
  margin-bottom: 4em;

  .hero-text {
    position: absolute;
    bottom: -2em;

    h1 {
      padding-left: 0.1em;
    }

    h2 {
      @include headerHighlight();
    }

    span {
      font-size: 0.9em;
    }
  }
}

.jump-to-links {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  color: $color-white;

  li:nth-child(1) {
    font-weight: 500;
  }
}

.card {
  margin-top: 10em;
  width: 90%;
  margin-inline: 5%;

  background-color: $color-black;
  border-radius: 2em;

  box-shadow: $shadow-main;

  img {
    width: 100%;
  }

  .image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 2em;

    .card-foreground {
      position: absolute;
      // display: none;
      z-index: 3;
      bottom: 0;
    }
    .card-midground {
      position: absolute;
      z-index: 2;
      bottom: 0;
      transform-origin: center left;
    }

    .card-background {
      position: relative;
    }
  }

  // @keyframes background {
  //   0% {
  //     transform: scale(1);
  //   }
  //   100% {
  //     transform: scale(1.5) rotate(15deg);
  //   }
  // }

  .card-text {
    position: relative;
    z-index: 3;
  }

  .card-title {
    @include headerHighlight();
    font-weight: 400;

    top: -0.8em;
    position: absolute;
  }

  .card-info {
    color: $color-white;
    padding: 2em 1em 1em 1em;
    line-height: 120%;
    text-align: justify;
  }
}

.human6 {
  display: flex;
  // width: 50%;
}

.image {
  width: 100%;
  fill: #000000;
}

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 5em;

  img {
    width: 100%;
    max-height: 500px;
  }

  .hero-title {
    @include highlighter();
    padding: 1em 1em 1.5em 1em;
    transform: translateY(-60%);
    position: absolute;

    #landing-title {
      letter-spacing: 0.2em;
      font-size: 4em;
      color: $color-white;
    }
  }
}

.intro-text {
  font-size: 1.5em;
  padding-inline: $inline-padding;
  margin-bottom: 1em;

  p {
    margin-block: 1em;
  }
}

#nav-links {
  @include flexCenter();
  justify-content: space-around;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  cursor: pointer;

  li {
    @include highlighter();
    @include flexCenter();
    @include glassMorphism();
    border-radius: 1em 0em 1em 0em;
    text-align: center;
    margin-block: 0.2em;
    padding: 2em;
    width: 30%;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    transition: all 350ms cubic-bezier(0.71, -0.01, 0.35, 1);

    &:hover {
      transform: scale(1.08);
      border-radius: 0em 1em 0em 1em;
    }
  }

  li:nth-child(2) {
    border-radius: 0em 0em 1em 1em;

    &:hover {
      border-radius: 1em 1em 0em 0em;
    }
  }
  li:nth-child(3) {
    border-radius: 0em 1em 0em 1em;

    &:hover {
      border-radius: 1em 0em 1em 0em;
    }
  }
}
// #nav-links {
//   @include flexCenter();
//   flex-direction: column;
//   font-size: 2em;
//   font-weight: bold;
//   letter-spacing: 0.05em;

//   li {
//     @include highlighter();
//     align-self: flex-end;
//     margin-block: 0.2em;
//     padding-inline: $inline-padding;
//     text-decoration: underline;
//     text-decoration-thickness: 0.05em;
//   }
// }

.line-break {
  display: flex;
  margin-block: 5em 3em;

  &:nth-of-type(odd) {
    left: unset;
    right: 0;
    justify-content: end;
  }

  hr {
    border: $hr;
    border-radius: 1em;
    backdrop-filter: blur(3px);
    width: 80%;
  }
}

.cards-teaser {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-inline: $inline-padding;
}

.card-teaser {
  @include glassMorphism();
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  height: 130px;
  border-radius: 1.5em;
  margin-block: 1em;
  opacity: 0;

  .card-teaser-image {
    width: 25%;
  }

  img {
    min-height: 100%;
  }

  .card-teaser-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 0.5em;
    margin-inline: 0.5em;
    opacity: 0;
    position: relative;
  }

  p {
    font-size: 1em;
    font-weight: 300;
  }

  a {
    color: $color-black;
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration-thickness: 0.04em;
    cursor: pointer;
  }

  a h5 {
    font-size: 1em;
  }

  .see-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    // width: 100%;
    flex-wrap: nowrap;

    img {
      right: 1em;
      top: 50%;
      width: 10px;
      object-fit: contain;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.right {
    align-items: flex-end;
    text-align: right;
  }
}

.info-article {
  img {
    width: 100%;
  }

  p {
    padding-block: 3em;
  }
  .section-title {
    @include highlighter();
    padding: 1em;
    transform: translateY(-60%);
    position: absolute;
  }
}

.chat-bubble {
  @include flexCenter();
  @include glassMorphism();
  background-color: $color-primary-semiTrans;
  width: 2em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: solid $color-white;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 500px;
  background-color: $color-dark;
  color: $color-white;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  #newsletter {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 1.3em;
      margin-block: 0.5em;
    }
    form {
      display: flex;
    }

    input {
      border: none;
      padding: 1em;
      flex: 3;

      &:focus {
        outline: none;
      }
    }

    button {
      border: solid white;
      background-color: $color-primary;
      padding: 0.8em;
      margin-right: 0.22em;
      color: $color-white;
      flex: 1;
    }
  }

  #opening-hours {
    padding-top: 2em;

    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: justify;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

#login-page,
#tickets-page,
#checkout-page,
#success-page {
  background: $gradinet-secondary;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#login-section {
  max-width: 636px;
  margin: 0 auto;
  padding-inline: 1em;
  section {
    display: flex;
    flex-direction: column;
    @include glassMorphism();
    background-color: #ffffff27;
    padding: 2em;
    border-radius: 2em;
    margin-top: 1.5em;

    a {
      text-decoration: underline;
      color: black;
    }

    h1,
    label {
      color: #000000;
      font-weight: bold;
    }

    #login-header {
      font-size: 2em;
      margin-top: 0;
    }

    label {
      margin-block: 1.5em 0.3em;
    }

    input {
      height: 3rem;
      border-radius: 1em;
      padding: 1em;
      border: solid 1px $color-white-semiTrans;
      @include glassMorphism();
      box-shadow: none;
      transition: box-shadow 300ms;

      &:focus,
      &:hover {
        box-shadow: $shadow-main;
        outline: none;
      }
    }
  }

  button {
    width: 100%;
    margin-block: 2em;
    border: solid 2px $color-white-semiTrans;
    box-shadow: none;
  }

  button:nth-of-type(even) {
    margin-top: 20%;
    background: $color-dark;
    border: none;
    box-shadow: $shadow-main;
  }
}

@media (min-width: 1000px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .cards-teaser {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    img {
      max-height: 280px;
      width: 100%;
    }

    .card-teaser-image {
      width: 100%;
    }
  }

  .card-teaser {
    flex-direction: column;
    height: 400px;
  }

  .footer-wrapper {
    max-width: 1200px;
  }

  #login-header {
    font-size: 5em;
  }
}

.chat-bubble::after {
  // content: "";
  width: 350px;
  height: 550px;
  position: absolute;
  background-color: $color-white;
  border: solid black 2px;
  border-radius: 1em;
  right: 0;
  bottom: 0;
}

.calendar-headings {
  font-size: 1.5em;
  font-family: $font-main;
  letter-spacing: 0;
  // padding: 2em 1em;
}

.cal-container {
  @include flexCenter();
  flex-direction: column;
  margin: 0 auto;

  max-width: 768px;
}

.calendar {
  @include glassMorphism();
  margin-inline: 1em;
  width: 100%;
  max-width: 768px;
  box-shadow: $shadow-main;
  border-radius: 2em;
}

.month {
  @include flexCenter();
  justify-content: space-between;
  width: 100%;
  background-color: $color-primary;
  border-radius: 2em 2em 0 0;
  padding: 0 1em;
  text-align: center;
  color: #000000;

  .date {
    padding: 1em;
  }

  h2 {
    color: #000000;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.6em;
  }
}

.weekdays,
.days-of-month {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    padding: 1em 0;
  }
}

.day:nth-child(7n-6),
.prev-month-date,
.next-month-date {
  opacity: 0.2;

  &:hover {
    pointer-events: none;
    background-color: unset;
    transition: unset;
    border-radius: 0.5em;
    outline: none;
  }
}

.today {
  background-color: rgba(211, 211, 211, 0.526);
  border: solid grey 1px;
  border-radius: 0.5em;
}

.timeslots-container {
  max-width: 768px;
  margin: 0 auto;
}

.timeslots {
  border-radius: 1em;
  @include glassMorphism();
  font-size: 1.2em;

  li {
    display: inline-block;
    padding: 0.5em;
    width: 100%;
    cursor: pointer;
  }

  li:nth-child(even) {
    background-color: #00000017;
  }
}

.days-of-month div:hover,
.active-date,
.timeslots li:hover,
.active-time {
  background-color: $color-primary !important;
  transition: all 350ms;
  border-radius: 0.5em;
  outline: solid grey 1px;
  cursor: pointer;
}

.tickets {
  max-width: 650px;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
  }
}

.payment-card {
  @include flexCenter();
  @include glassMorphism();
  justify-content: space-between;
  background-color: #ffffff49;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 1em;

  .card-title {
    @include flexCenter();
    img {
      padding-left: 0.5em;
    }
  }

  .ticket-buttons {
    display: flex;
    align-items: center;

    .number {
      margin-inline: 1em;
    }
  }

  .ticket-button {
    @include flexCenter();
    background-color: $color-primary;
    border: solid 1px #ffffff;
    height: 5em;
    width: 5em;
    border-radius: 50%;
  }
}
.complete {
  flex-direction: column;

  .payment-card-text {
    width: 100%;
  }

  .payment-card-text div {
    display: flex;
    justify-content: space-between;
  }

  button {
    box-shadow: none;
  }

  hr {
    border-bottom: solid #000000;
    margin-block: 0.5em;
  }
}

#success-page {
  h2,
  p,
  a {
    margin-block: 1em;
  }
  .qr-code {
    max-width: 360px;
    margin: 0 auto;
    display: block;
  }
}

details summary {
  cursor: pointer;
}
details summary > * {
  display: inline;
}
summary {
  font-size: 1.5em;
}
.faq-section {
  padding: 0.5em;
}
