@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK.otf);
}
@font-face {
  font-family: Spotnik;
  src: url(/assets/fonts/SPOTNIK-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

$color-primary: #00a66a;
$color-secondary: #0056a6;
$color-dark: #1e474b;
$color-black: #000000;
$color-white: #ffffff;

$gradient-primary: linear-gradient(
  180deg,
  $color-primary 0%,
  $color-secondary 100%
);

$font-main: Roboto, sans-serif;
$font-spot: Spotnik, sans-serif;

$shadow-main: -4px 4px 6px rgba(0, 0, 0, 0.15);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

body {
  background: $gradient-primary;
  height: 150vh;
  width: 100%;

  position: relative;
}

a {
  color: $color-white;
  text-decoration: none;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  color: $color-white;
}

h2 {
  color: $color-white;
  font-weight: 300;
  font-size: 4em;
}

h3 {
  color: $color-white;
  font-size: 3em;
}

span {
  font-family: $font-spot;
  font-weight: bold;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flexCenter();
  justify-content: space-between;

  width: 100%;
  height: 5em;
  background-color: $color-black;

  #header-logo {
    display: flex;
    height: 100%;
    padding: 0.5em;
  }

  #hamburger-menu img {
    @include flexCenter();
    padding: 0 1em;
    height: 2.5em;
  }
}

footer {
  width: 100%;
  display: flex;
  height: 5em;
  background-color: $color-black;
  color: $color-white;
  justify-content: center;
  align-items: center;

  margin-top: 5em;

  position: relative;
  bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;

  background-color: $color-primary;
  border: 0.1em solid $color-white;

  box-shadow: $shadow-main;

  border-radius: 2em;

  color: $color-white;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-container {
  position: relative;
  margin-bottom: 4em;

  .hero-image img {
    width: 100%;
  }

  .hero-text {
    // transform: translateY(-60%);
    position: absolute;
    bottom: -2em;

    h1 {
      padding-left: 0.1em;
    }

    h2 {
      padding-inline: 0.1em;
      background: $color-dark;
      display: inline;
      box-shadow: $shadow-main;
    }

    span {
      font-size: 0.9em;
    }
  }
}

.jump-to-links {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  color: $color-white;

  li:nth-child(1) {
    font-weight: 500;
  }
}

.card {
  width: 90%;
  margin-inline: 5%;
  height: 600px;
  background-color: #000000;
  border-radius: 2em;

  img {
    width: 100%;
    border-radius: 2em;
  }
}
